h1 {
    color: whitesmoke;
    background-image: url(test.jpg);
    background-size: 100%;
}

h3 {
    color: white;
}

p {
    background-color: aqua; 
    opacity: 0.5;
    color: black;
    font-family: Times New Roman;
    font-size: 12pt;
}

    p.cooking {
        color: red;
        background-color: black;
        opacity: 0.5;
        width: 50%;
    }

    p.learning {
        color: darkorange;
        background-color: black;
        opacity: 0.5;
        width: 50%;
    }

    p.other {
        color: green;
        background-color: black;
        opacity: 0.5;
        width: 50%;
    }

body {
    background-image: url(danger-dark-evening-1114688.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

li.cooking {
    color: darkred;
}

li.learning {
    color: darkorange;
}

li.other {
    color: green;
}

a {
    color: lightblue;
}

    a:hover {
        color: red;
        font-family: Arial;
    }
