p {
    background-color: red;
    color: white;
    font-family: arial;
    font-size: 22pt;
}
body {
    background-color: red;
}

/*
Paragraph Background color
Body background color
Background image
Text color
text font
hover
classes

CSS Requirements:

Use all the attributes listed in the CSS section at least once.
The page should not induce seizures or headaches - in other words, mind the color pallet you choose
All text should be easy to read
    */
